<tr class="header-component">
    <td class="tableleft">
      <span class="nombre">{{nombre}}</span> <br>
      <span class="titulo">{{titulo}}</span> <br>
      <span class="objetivo">{{objetivo}}</span><br>
    </td>
  
    <td>
      <img class="header-image" src="{{foto}}" height="100">
    </td>
  
    <td class="tableright">
      <p class="contact-info">{{email}}</p>
      <p class="contact-info">{{celular}}</p>
      <p class="contact-info">{{ubicacion}}</p>
      <a class="contact-info" href="{{redsocial}}">Red Social</a>
    </td>
  </tr>
