/* Aplicar un estilo general al componente */
.header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }

   /* Estilo para la imagen */
   .header-image {
    border-radius: 50%;
    border: none;
    max-height: 100px;
  }
  
  /* Estilo para la columna izquierda */
  .tableleft {
    width: 30%;
    padding: 10px;
  }
  /* Estilo para la columna derecha */
  .tableright {
    width: 30%;
    padding: 10px;
  }
  
  /* Estilo para el texto en la columna derecha */
  .tableright p {
    margin: 0;
    font-size: 16px;
  }
  
  /* Estilo para los enlaces de redes sociales */
  .tableright a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
  }
  
  /* Estilo para el nombre */
  .nombre {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilo para el título */
  .titulo {
    font-size: 18px;
  }
  
  /* Estilo para el objetivo */
  .objetivo {
    font-style: italic;
    font-size: 14px;
  }
  
  /* Estilo para la información de contacto */
  .contact-info {
    font-size: 14px;
  }